nav {
    color: var(--text-primary);
    background-color: var(--background);
    display: flex;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 15px;
    ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            padding: 15px;
        }
    }

    .spacer{
        flex: 1;
    }

    .theme-toggler {
        margin: 0 15px;
    }
    
}
